label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}

input:focus {
  outline-color: #c73506;
}

button {
  margin-top: 20px;
  background-color: #c73506;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
}
button:hover {
  background-color: #2c3a41;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

mat-slider {
  width: 250px;
}

input[type="range" i] {
  background-color: red;
}
