<div class="mat-app-background">
<div id="dark-theme-toggle" fxLayoutAlign="end">
  <mat-slide-toggle color="primary" [formControl]="toggleControl">Dark Theme</mat-slide-toggle>
</div>
<h1>{{title}}</h1>

<nav fxLayout="row" fxLayoutAlign="space-evenly center">
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/hero-search"><mat-icon>search</mat-icon></a>

</nav>


<router-outlet></router-outlet>
<mat-divider></mat-divider>
<app-dialog></app-dialog>
</div>
