table {
  margin-top: 20px;
  width: 100%;
}

::ng-deep mat-paginator button:hover {
  background-color: #ab1010;
  color: white;
}

::ng-deep .mat-mdc-paginator-icon {
  fill: currentColor;
}

::ng-deep .darkTheme mat-paginator button:hover {
  background-color: #ab1010;
  color: white;
}

::ng-deep .darkTheme .mat-mdc-paginator-icon {
  fill: currentColor;
}

#btn-list {
  margin: 0 !important;
}

#list-format-container {
  margin-top: 30px;
}
